<!-- AXON platform Control -->
<launch>
  <param name="/use_sim_time" value="false"/>
  <arg name="bag_record" value="false"/>

  <rosparam file="$(find axon_link)/config/axon_param.yaml" command="load"/>
  <node pkg="axon_link" type="axon_link" name="axon_link"  output="screen"/>

  <node pkg="rosbag" type="record" name="rosbag_record" args="-a" if="$(arg bag_record)" />
</launch>
